<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create new user</title>
</head>
<body>
        <p>Please enter ALL of the following to create a new user</p>
        <form action="/admin/userCreated" method="POST">
                Username: <input type="text" name="username" />
                <br/>
                Password: <input type="text" name="password" />
                <br/>
                Full name: <input type="text" name="fullName" />
                <input type="submit" value="Confirm" />
        </form>
</body>
</html>
